@media (max-width: 1024px) and (min-width: 600px) {
  body .section-title {
    font-size: 38px;
    font-weight: bold;
    font-family: "Bree Serif", serif;
    text-align: center;
    margin: 4rem 0;
  }
  .active {
    display: block;
  }
  .remove {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header .header-wrapper {
    background-color: #efefef;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
  }
  .header .header-wrapper .humberger {
    display: block;
  }
  .header .header-wrapper .humberger i {
    margin-top: 15px;
    font-size: 2.2rem;
    cursor: pointer;
    margin-left: 200px;
  }
  .header .header-wrapper .header-container {
    background-color: #efefef;
    opacity: 0.8;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-wrapper .header-container .main-logo h1 {
    margin-top: 16px;
    font-size: 38px;
    font-family: "Bree Serif", serif;
  }
  .header .header-wrapper .header-container .main-logo h1 a:hover {
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-wrapper .header-container .nav-ver ul li {
    display: none;
  }
  .header .header-wrapper .header-container .nav-ver ul .hum-open {
    font-size: 2.2rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .header .mainvs {
    position: relative;
    width: 100%;
  }
  .header .mainvs img {
    width: 100%;
    height: 530px;
  }
  .header .mainvs p {
    font-size: 33px;
    color: #efefef;
    position: absolute;
    font-family: "Bree Serif", serif;
    letter-spacing: 2px;
    opacity: 0.9;
    top: 30%;
    left: 2%;
  }
  .hum-menu {
    background-color: #efefef;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.9;
    z-index: 1;
    display: none;
  }
  .hum-menu .hum-close {
    margin-top: 2rem;
    width: 50%;
    text-align: right;
  }
  .hum-menu .hum-close i {
    font-size: 2.2rem;
    cursor: pointer;
  }
  .hum-menu .hum-close i a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .hum-menu .hum-wrapper {
    z-index: 1;
  }
  .hum-menu .hum-wrapper .hum-close {
    width: 66%;
    text-align: right;
  }
  .hum-menu .hum-wrapper .hum-close i {
    font-size: 2rem;
  }
  .hum-menu .hum-wrapper ul li {
    font-family: "Bree Serif", serif;
    font-size: 1.5rem;
    margin: 40px 0 0 20px;
  }
  .about {
    margin-top: 150px;
  }
  .about .about-content1, .about .about-content3, .about .about-content5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-content1 .about-image, .about .about-content3 .about-image, .about .about-content5 .about-image {
    width: 50%;
  }
  .about .about-content1 .about-image img, .about .about-content3 .about-image img, .about .about-content5 .about-image img {
    width: 100%;
  }
  .about .about-content1 .about-text, .about .about-content3 .about-text, .about .about-content5 .about-text {
    width: 50%;
    font-size: 25px;
    font-family: "Bree Serif", serif;
    position: relative;
  }
  .about .about-content1 .about-text p, .about .about-content3 .about-text p, .about .about-content5 .about-text p {
    position: absolute;
    top: 50%;
    left: 15%;
  }
  .about .about-content2, .about .about-content4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-content2 .about-text, .about .about-content4 .about-text {
    width: 50%;
    font-size: 25px;
    font-family: "Bree Serif", serif;
    position: relative;
  }
  .about .about-content2 .about-text p, .about .about-content4 .about-text p {
    position: absolute;
    top: 50%;
    left: 25%;
  }
  .about .about-content2 .about-image, .about .about-content4 .about-image {
    width: 50%;
  }
  .about .about-content2 .about-image img, .about .about-content4 .about-image img {
    width: 100%;
  }
  .skills {
    margin-top: 150px;
    width: 100%;
  }
  .skills .skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .skills .skills-wrapper .skills-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .skills-wrapper .skills-top ul li {
    margin: 0 10px;
  }
  .skills .skills-wrapper .skills-top ul li img {
    width: 100%;
  }
  .skills .skills-wrapper .skills-top ul li:nth-child(4) {
    margin-top: 60px;
  }
  .skills .skills-wrapper .skills-top ul li:nth-child(5) {
    margin-top: 20px;
  }
  .skills .skills-wrapper .skills-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .skills .skills-wrapper .skills-bottom ul li {
    margin: 0 20px;
  }
  .skills .skills-wrapper .skills-bottom ul li img {
    width: 90%;
  }
  .skills .skills-wrapper .skills-bottom ul li:nth-child(2) {
    margin-top: 5px;
  }
  .skills .skills-wrapper .skills-bottom ul li:nth-child(3) {
    margin-top: 24px;
  }
  .contact {
    margin-top: 150px;
  }
  .contact .contact-wrapper {
    width: 70%;
    height: 600px;
    background-color: #efefef;
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 40px 0 10px;
  }
  .contact .contact-wrapper h3 {
    font-family: "Bree Serif", serif;
  }
  .contact .contact-wrapper .name, .contact .contact-wrapper .email, .contact .contact-wrapper .title, .contact .contact-wrapper .message {
    width: 70%;
    margin: 20px auto 0;
  }
  .contact .contact-wrapper .name input, .contact .contact-wrapper .email input, .contact .contact-wrapper .title input, .contact .contact-wrapper .message input {
    width: 100%;
    height: 25px;
  }
  .contact .contact-wrapper .name textarea, .contact .contact-wrapper .email textarea, .contact .contact-wrapper .title textarea, .contact .contact-wrapper .message textarea {
    width: 100%;
    height: 130px;
  }
  .contact .contact-wrapper .name .contact-heading, .contact .contact-wrapper .email .contact-heading, .contact .contact-wrapper .title .contact-heading, .contact .contact-wrapper .message .contact-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contact .contact-wrapper .submit {
    text-align: center;
    margin: 50px 0;
  }
  .contact .contact-wrapper .submit input {
    font-family: "Bree Serif", serif;
    width: 20%;
    height: 40px;
    background-color: #1DC542;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 4px solid #137728;
    -webkit-box-shadow: 0px 2px 3px black;
            box-shadow: 0px 2px 3px black;
  }
  .contact .contact-wrapper .submit input:hover {
    margin-top: 5px;
    border-bottom: 1px solid #1DC542;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer {
    background-color: #efefef;
    margin: 150px 0;
    padding: 70px 0;
  }
  .footer .footer-text p {
    text-align: center;
  }
  .footer .footer-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .footer .footer-sns a {
    margin: 0 10px;
  }
  .footer .footer-sns a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer .footer-sns a i {
    font-size: 1.5rem;
  }
}

@media (max-width: 599px) {
  body .section-title {
    font-size: 30px;
    font-weight: bold;
    font-family: "Bree Serif", serif;
    text-align: center;
    margin: 2rem 0;
  }
  .active {
    display: block;
  }
  .remove {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header .header-wrapper {
    background-color: #efefef;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    padding-bottom: 1rem;
  }
  .header .header-wrapper .humberger {
    display: block;
  }
  .header .header-wrapper .humberger i {
    margin-top: 7px;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 130px;
  }
  .header .header-wrapper .header-container {
    opacity: 0.9;
    width: 80%;
    height: 40px;
    margin: 0 auto;
  }
  .header .header-wrapper .header-container .main-logo h1 {
    margin-top: 8px;
    font-size: 28px;
    font-family: "Bree Serif", serif;
  }
  .header .header-wrapper .header-container .main-logo h1 a:hover {
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-wrapper .header-container .nav-ver ul li {
    display: none;
  }
  .header .header-wrapper .header-container .nav-ver ul .hum-open {
    font-size: 1.9rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .header .mainvs {
    position: relative;
    width: 100%;
  }
  .header .mainvs img {
    width: 100%;
    height: 280px;
    margin-top: 65px;
  }
  .header .mainvs p {
    font-size: 25px;
    color: #efefef;
    position: absolute;
    font-family: "Bree Serif", serif;
    opacity: 0.9;
    top: 30%;
  }
  .hum-menu {
    background-color: #efefef;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.9;
    z-index: 1;
    display: none;
  }
  .hum-menu .hum-close {
    margin-top: 2rem;
    width: 50%;
    text-align: right;
  }
  .hum-menu .hum-close i {
    font-size: 2rem;
    cursor: pointer;
  }
  .hum-menu .hum-close i a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .hum-menu .hum-wrapper {
    z-index: 1;
  }
  .hum-menu .hum-wrapper ul li {
    font-family: "Bree Serif", serif;
    font-size: 1.2rem;
    margin: 20px 0;
  }
  .about {
    margin-top: 50px;
  }
  .about .about-content1, .about .about-content3, .about .about-content5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-content1 .about-image, .about .about-content3 .about-image, .about .about-content5 .about-image {
    width: 50%;
  }
  .about .about-content1 .about-image img, .about .about-content3 .about-image img, .about .about-content5 .about-image img {
    width: 100%;
  }
  .about .about-content1 .about-text, .about .about-content3 .about-text, .about .about-content5 .about-text {
    width: 50%;
    font-size: 15px;
    font-family: "Bree Serif", serif;
    position: relative;
  }
  .about .about-content1 .about-text p, .about .about-content3 .about-text p, .about .about-content5 .about-text p {
    position: absolute;
    top: 50%;
    left: 15%;
  }
  .about .about-content2, .about .about-content4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-content2 .about-text, .about .about-content4 .about-text {
    width: 50%;
    font-size: 15px;
    font-family: "Bree Serif", serif;
    position: relative;
  }
  .about .about-content2 .about-text p, .about .about-content4 .about-text p {
    position: absolute;
    top: 50%;
    left: 25%;
  }
  .about .about-content2 .about-image, .about .about-content4 .about-image {
    width: 50%;
  }
  .about .about-content2 .about-image img, .about .about-content4 .about-image img {
    width: 100%;
  }
  .skills {
    margin-top: 50px;
    width: 100%;
  }
  .skills .skills-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .skills .skills-wrapper .skills-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .skills-wrapper .skills-top ul li {
    margin: 0 5px;
  }
  .skills .skills-wrapper .skills-top ul li img {
    width: 100%;
  }
  .skills .skills-wrapper .skills-top ul li:nth-child(4) {
    margin-top: 30px;
  }
  .skills .skills-wrapper .skills-top ul li:nth-child(5) {
    margin-top: 17px;
  }
  .skills .skills-wrapper .skills-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .skills .skills-wrapper .skills-bottom ul li {
    margin: 0 5px;
  }
  .skills .skills-wrapper .skills-bottom ul li img {
    width: 70%;
  }
  .skills .skills-wrapper .skills-bottom ul li:nth-child(1) {
    margin-left: 30px;
  }
  .skills .skills-wrapper .skills-bottom ul li:nth-child(2) {
    margin-top: 5px;
  }
  .skills .skills-wrapper .skills-bottom ul li:nth-child(3) {
    margin-top: 15px;
    margin-right: 20px;
  }
  .contact {
    margin-top: 50px;
  }
  .contact .contact-wrapper {
    width: 70%;
    height: 600px;
    background-color: #efefef;
    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 40px 0 10px;
  }
  .contact .contact-wrapper h3 {
    font-family: "Bree Serif", serif;
  }
  .contact .contact-wrapper .name, .contact .contact-wrapper .email, .contact .contact-wrapper .title, .contact .contact-wrapper .message {
    width: 70%;
    margin: 20px auto 0;
  }
  .contact .contact-wrapper .name input, .contact .contact-wrapper .email input, .contact .contact-wrapper .title input, .contact .contact-wrapper .message input {
    width: 100%;
    height: 25px;
  }
  .contact .contact-wrapper .name textarea, .contact .contact-wrapper .email textarea, .contact .contact-wrapper .title textarea, .contact .contact-wrapper .message textarea {
    width: 100%;
    height: 130px;
  }
  .contact .contact-wrapper .name .contact-heading, .contact .contact-wrapper .email .contact-heading, .contact .contact-wrapper .title .contact-heading, .contact .contact-wrapper .message .contact-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contact .contact-wrapper .submit {
    text-align: center;
    margin: 50px 0;
  }
  .contact .contact-wrapper .submit input {
    font-family: "Bree Serif", serif;
    width: 30%;
    height: 40px;
    background-color: #1DC542;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 4px solid #137728;
    -webkit-box-shadow: 0px 2px 3px black;
            box-shadow: 0px 2px 3px black;
  }
  .contact .contact-wrapper .submit input:hover {
    margin-top: 5px;
    border-bottom: 1px solid #1DC542;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer {
    background-color: #efefef;
    margin: 150px 0;
    padding: 70px 0;
  }
  .footer .footer-text p {
    text-align: center;
  }
  .footer .footer-sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
  .footer .footer-sns a {
    margin: 0 10px;
  }
  .footer .footer-sns a:hover {
    opacity: 0.5;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer .footer-sns a i {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=media.css.map */